<!DOCTYPE html>
<html lang="en" mlns:th="http://www.thymeleaf.org">
<head>

<title>Bill Details</title>

<!-- working for navbar dropdowns -->
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}"/>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/customPagination.js}"></script>


<!-- for fontawesome for mail icons-->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/fontawesome.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/brands.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}"/> 
<link rel="stylesheet" type="text/css" th:href="@{/css/all.css}"/>  

</head>

<body>
<!-- to include the Navbar from fragments/nav.html -->
<div  th:replace="fragments/nav :: navbar"></div>


<div class="p-3 m-3">


<div>
			
	   		<form th:action="@{/getBillDetails/page/1}" method="get">
	   			<input id="sortField" type="hidden"  name="sortField" th:value="${sortField}">
				<input id="sortDir" type="hidden" name="sortDir" th:value="${sortDir}">
	   			Filter : <input type="text" id="keyword" name="keyword" th:value="${keyword}"  />
	   			&nbsp;
	   			<label for="records">records</label>								
				<select name="records" id="records">
    				<option th:each="i : ${#numbers.sequence(5, 50,5)}" th:value="${i}" th:text="${i}" 
      				th:selected="${i== records}"></option>
				</select>
				&nbsp;
	   			<input type="submit" value="Search">
	   			&nbsp;
	   			<input type="button" value="Clear" onclick="clearFilter()">
	   		</form>	   
	   </div>
	   <br>
	<div class="table-responsive">
   <table class = "table table-hover table-sm">
			<thead class="table-primary">
				<tr>
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							Bill Id</a>
					</th>
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							RiskAggregator Name</a>
					</th>
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							Client Name</a>
					</th>	
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							Is waidOff</a>
					</th>	
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							Setup Fee</a>
					</th>	
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							Monthly Fee</a>
					</th>	
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							Development Fee</a>
					</th>	
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							Bill Start Date</a>
					</th>	
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							Bill End Date</a>
					</th>	
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							fundcount</a>
					</th>
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							goCheckNoteId</a>
					</th>
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							crmName</a>
					</th>
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							clientApprovalMail</a>
					</th>
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							waiverMail</a>
					</th>
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							terminationMail</a>
					</th>
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							billingComments</a>
					</th>
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							Modified_date</a>
					</th>	
					<th>
						<a th:href="@{'/getBillDetails/page/' + ${currentPage} + '?sortField=clientID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							Action</a>
					</th>							
								
				</tr>
			</thead>
			<tbody>
			<tr th:each="bill : ${details}">				
			<td th:text="${bill.billId}">		
			<td th:text="${bill.riskAggregator.RiskAggregatorName}">	
			<td th:text="${bill.client.clientShortName}">
			<td th:text="${bill.isWaivedOff}">
			<td th:text="${bill.setupFee}">
			<td th:text="${bill.monthlyFee}">
			<td th:text="${bill.devlopementFee}">
			<td th:text="${bill.billStartDate}">
			<td th:text="${bill.billEndDate}">
			<td th:text="${bill.fundcount}">
			<td th:text="${bill.goCheckNoteId}">
			<td th:text="${bill.crmName}">
			
			<td th:if="${bill.clientApprovalMailName == ''}"> </td>	
			<td th:unless="${#strings.isEmpty(bill.clientApprovalMailName)}">
				<a th:href="${bill.clientApprovalMailUrl}" class="btn btn-link">	          			 
          			<i class="fa fa-envelope" style="font-size:24px"></i>            			      		
        		</a>			
			</td>
			
			
			<td th:if="${bill.waiverFileName == '' }"> </td>
			<td th:unless="${#strings.isEmpty(bill.waiverFileName)}">
				<a th:href="${bill.waiverMailUrl}" class="btn btn-link">	          			 
          			<i class="fa fa-envelope" style="font-size:24px"></i>            			      		
        		</a>
			</td>
			
			<td th:if="${bill.terminationMailName == ''}">				
			</td>
			<td th:unless="${#strings.isEmpty(bill.terminationMailName)}">
				<a th:href="${bill.terminationMailUrl}" class="btn btn-link">	          			 
          			<i class="fa fa-envelope" style="font-size:24px"></i>            			      		
        		</a>
			</td>
			<td th:text="${bill.billingComments}">
			<td th:text="${bill.Modified_date}">
				
			<td>			
        		<a th:href="@{/editBillDetails/(billId=${bill.billId})}"
					   class="btn btn-danger"
					   onclick="if (!(confirm('Are you sure you want to Edit this Bill details ?'))) return false">
						Edit <span class="fa fa-edit"></span>
					</a>
			</td>
		</tbody>
		</table>
		
		</div>
		<hr>		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
				
					<div class="pagination">
					</div>
						
				</div>
				<input id="linkPrefix" type="hidden" value="/GoMyProject/getBillDetails">
				<input id="currentPage" type="hidden" readonly th:value="${currentPage}">
				<input id="totalPage" type="hidden" th:value="${totalPages}">
				<input id="record" type="hidden" th:value="${records}">				
	
			</div>
		</div>


 </div>


</body>


</html>