<!DOCTYPE html>
<html lang="en" mlns:th="http://www.thymeleaf.org">
<head>

<title>Funds</title>

<!-- working for navbar dropdowns -->
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}"/>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>


<link rel="stylesheet" type="text/css"  th:href="@{/css/all.css}"/>
</head>

<body>
<!-- to include the Navbar from fragments/nav.html -->
<div  th:replace="fragments/nav :: navbar"></div>
<div class="container">

<br>
<div class="container" th:if="${riskAggregator}">		
		<h3 th:text="${riskAggregator} +' ' +${clientName} +' Fund Details'"> </h3>
</div>


<div class="container" th:unless="${riskAggregator}">
	<h3>Client and Fund Details</h3>
</div>

<div class="container" th:if="${message}">		
		<p th:text="${message}"> </p>
</div> 

<hr>

	<div class="" th:if="${client}">
	
	<a th:href="@{/OnBordFund}" class="btn btn-primary btn-sm mb-3">OnBordFund</a>
	<br>
	<table border="1" class="table table-bordered table-hover">
		<thead class="thead-dark">
			<!-- <th>Id</th>	 -->
			<th>Sr NO.</th>			
			<th>Client Id</th>		
			<th>Client Name</th>
			<!-- <th>Fund Id</th> -->	
			<th>Fund Name</th>			
			<th>Added Date</th>
		</thead>
		
		<tbody>
			<tr th:each="client : ${client}">			
			<tr th:each="fund, iterationStatus : ${client.funds}">			
			<td th:text="${iterationStatus.count}">	
			<td th:text="${client.ClientID}">			
			<td th:text="${client.ClientShortName}">
			<!-- <td th:text="${fund.FundID}">	 -->
			<td th:text="${fund.FundShortName}">
			<td th:text="${fund.Modified_date}">
		</tbody>
	</table>
		
	</div> 
	
	<div class="" th:if="${clientDto}">
	
	<a th:href="@{|/OnBordFund/${riskAggregatorId}/${clientId}| } " class="btn btn-primary btn-sm mb-3">OnBordFund</a>
	
<!-- <h3 th:text="${riskAggregatorId} +' ' +${clientId} +' Active Fund Details'"> </h3> -->
	
	
	<table border="1" class="table table-bordered table-hover">
		<thead class="thead-dark">			
			<th>Sr NO.</th>
			<th>Client Name</th>			
			<th>Fund Name</th>
			<th>Frequency</th>
			<th>Automation Process</th>					
			<th>Setup Date</th>
			<th>Is Active</th>
			<th>Comments</th>
			<th>Action</th>
		</thead>
		
		<tbody>
			<tr th:each="client,iterationStatus : ${clientDto}">			
			<!-- <tr th:each="fund, iterationStatus : ${client.funds}"> -->			
			<td th:text="${iterationStatus.count}">						
			<td th:text="${client.clientName}">
			<!-- <td th:text="${fund.FundID}">	 -->
			<td th:text="${client.fundName}">
			<td th:text="${client.frequency}">
			<td th:text="${client.automationProcess}">
			<td th:text="${client.setUpDate}">
			<td th:text="${client.isActive}">
			<td th:text="${client.clientOnBoardComments}">			
			<td><!-- <a th:href="@{'/deleteFund/' + ${client.fundID}}"class="btn btn-info btn-lg">
          			<span class="glyphicon glyphicon-trash"></span>
        		</a> -->
        		
        		<a th:href="@{/editClientOnboard/(ClientOnboardId=${client.ClientOnboardId})}"
					   class="btn btn-danger"
					   onclick="if (!(confirm('Are you sure you want to Edit this Fund details ?'))) return false">
						Edit <span class="fa fa-trash"></span>
					</a>
			</td>
		</tbody>
	</table>
	
		
	</div> 
	
</div>

</body>


</html>