
<html lang="en" mlns:th="http://www.thymeleaf.org">
<head>
<title>Funds</title>
 
<!-- working for navbar dropdowns -->
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}"/>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/customPagination.js}"></script>


<script type="text/javascript">
	function clearFilter(){
		window.location="/GoMyProject/getFundByClient/"+document.getElementById("id").value;
	}

</script>


<link rel="stylesheet" type="text/css" href="css/all.css"/>
 
</head>

<body>

<!-- to include the Navbar from fragments/nav.html -->
<div  th:replace="fragments/nav :: navbar"></div>
<div class="p-3 m-3">

<div class="container">

<!-- <a th:href="@{/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Client</a>

<a th:href="@{/OnBordClient}" class="btn btn-primary btn-sm mb-3">OnBord Client</a> -->

	<div class="container" th:if="${riskAggregator}">		
		<h3 th:text="${riskAggregator} + ' Clients'"> </h3>
	</div>	
	
</div>

<div>
	   		<form th:action="@{'/getFundByClient/'+${id}+'/page/1'}" method="get">
	   			<input id="sortField" type="hidden"  name="sortField" th:value="${sortField}">
				<input id="sortDir" type="hidden" name="sortDir" th:value="${sortDir}">
	   			Filter : <input type="text" id="keyword" name="keyword" th:value="${keyword}"  />
	   			&nbsp;	   			
	   			<label for="records">records</label>								
				<select name="records" id="records">
    				<option th:each="i : ${#numbers.sequence(5, 50,5)}" th:value="${i}" th:text="${i}" 
      				th:selected="${i== records}"></option>
				</select>
				&nbsp;
	   			<input type="submit" value="Search">
	   			&nbsp;
	   			<input type="button" value="Clear" onclick="clearFilter()">
	   		</form>	   
	   </div>
	   	   
	<div class="table-responsive">
   <table class = "table table-hover table-sm">
			<thead class="table-primary">
				<tr>
					<th>
						<a th:href="@{'/getFundByClient/'+${id}+'/page/' + ${currentPage} + '?sortField=fundID&sortDir=' + ${reverseSortDir}} +'&records='+ ${records} +'&keyword='+${keyword}">
							Fund Id</a>
					</th>
					<th>
					<a th:href="@{'/getFundByClient/'+${id}+'/page/' + ${currentPage} + '?sortField=fundShortName&sortDir=' + ${reverseSortDir}} +'&records='+ ${records} +'&keyword='+${keyword}">
							Fund Short Name</a>
					</th>									
					
					<th>
					<a th:href="@{'/getFundByClient/'+${id}+'/page/' + ${currentPage} + '?sortField=modified_date&sortDir=' + ${reverseSortDir}} +'&records='+ ${records} +'&keyword='+${keyword}">
							modified_date</a>
					</th>
					
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="fundDetails : ${details}">
					<td th:text="${fundDetails.fundID}"></td>
					<td th:text="${fundDetails.fundShortName}"></td>
					<td th:text="${fundDetails.modified_date}"></td>
									
				</tr>
			</tbody>
		</table>
		
		</div>
		<hr>		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
				
					<div class="pagination">
					</div>
						
				</div>
				<input id="linkPrefix" type="hidden" th:value="${'/GoMyProject/getFundByClient/'+id}">
				<input id="currentPage" type="hidden" readonly th:value="${currentPage}">
				<input id="totalPage" type="hidden" th:value="${totalPages}">
				<input id="record" type="hidden" th:value="${records}">
				
				<input id="id" type="hidden" th:value="${id}">
				
				<!--   <div class = "col-sm-1">
				
					<a th:if="${currentPage >= totalPages}" th:href="@{'/getClient/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}} +'&records='+ ${records}">Previous</a>
					<span th:unless="${currentPage >= totalPages}">Previous</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/getClient/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}} +'&records='+ ${records}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/getClient/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}} +'&records='+ ${records}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div> -->
			</div>
		</div>


 </div>
</body>
</html>