<!DOCTYPE html>
<html lang="en" mlns:th="http://www.thymeleaf.org">
<head>

<title>Funds</title>

<!-- working for navbar dropdowns -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="/jquery/jquery-3.4.1.js"></script>
<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}"/>
<script src="/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css"  th:href="@{/css/all.css}"/>
</head>

<body>
<!-- to include the Navbar from fragments/nav.html -->
<div  th:replace="fragments/nav :: navbar"></div>
<div class="container">

<br>
<div class="container" th:if="${riskAggregator}">		
		<h3 th:text="${riskAggregator} +' ' +${clientName} +' Active Fund Details'"> </h3>
</div>


<div class="container" th:unless="${riskAggregator}">
	<h3>Client and Fund Details</h3>
</div>

<hr>

<a th:href="@{/AddClient}" class="btn btn-primary btn-sm mb-3">Add Client</a>
<a th:href="@{/AddFunds}" class="btn btn-primary btn-sm mb-3">Add Funds</a>
<a th:href="@{/OnBordClient}" class="btn btn-primary btn-sm mb-3">OnBord Client</a>

<br>

	<div class="" th:if="${client}">
	
	<table border="1" class="table table-bordered table-hover">
		<thead class="thead-dark">
			<!-- <th>Id</th>	 -->
			<th>Sr NO.</th>			
			<th>Client Id</th>		
			<th>Client Name</th>
			<!-- <th>Fund Id</th> -->	
			<th>Fund Name</th>			
			<th>Added Date</th>
		</thead>
		
		<tbody>
			<tr th:each="client : ${client}">			
			<tr th:each="fund, iterationStatus : ${client.funds}">			
			<td th:text="${iterationStatus.count}">	
			<td th:text="${client.ClientID}">			
			<td th:text="${client.ClientShortName}">
			<!-- <td th:text="${fund.FundID}">	 -->
			<td th:text="${fund.FundShortName}">
			<td th:text="${fund.Modified_date}">
		</tbody>
	</table>
	
	<button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
    <button type="submit" class="btn btn-danger"><span class="fa fa-trash"></span> Search</button>
		
	</div> 
	
	<div class="" th:if="${clientDto}">
	
	<table border="1" class="table table-bordered table-hover">
		<thead class="thead-dark">			
			<th>Sr NO.</th>
			<th>Client Name</th>			
			<th>Fund Name</th>
			<th>Frequency</th>
			<th>Automation Process</th>					
			<th>Setup Date</th>
			<th>Comments</th>
			<th>Action</th>
		</thead>
		
		<tbody>
			<tr th:each="client,iterationStatus : ${clientDto}">			
			<!-- <tr th:each="fund, iterationStatus : ${client.funds}"> -->			
			<td th:text="${iterationStatus.count}">						
			<td th:text="${client.clientName}">
			<!-- <td th:text="${fund.FundID}">	 -->
			<td th:text="${client.fundName}">
			<td th:text="${client.frequency}">
			<td th:text="${client.automationProcess}">
			<td th:text="${client.setUpDate}">
			<td th:text="${client.clientOnBoardComments}">			
			<td><!-- <a th:href="@{'/deleteFund/' + ${client.fundID}}"class="btn btn-info btn-lg">
          			<span class="glyphicon glyphicon-trash"></span>
        		</a> -->
        		
        		<a th:href="@{/editClientOnboard/(ClientOnboardId=${client.ClientOnboardId})}"
					   class="btn btn-danger"
					   onclick="if (!(confirm('Are you sure you want to Edit this Fund details ?'))) return false">
						Edit <span class="fa fa-trash"></span>
					</a>
			</td>
		</tbody>
	</table>
	
	<button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
    <button type="submit" class="btn btn-danger"><span class="fa fa-trash"></span> Search</button>
		
	</div> 
	
</div>

</body>


</html>