<!DOCTYPE html>
<html lang="en" mlns:th="http://www.thymeleaf.org">
<head>
<title>RiskAggregators</title>
<!-- working for navbar dropdowns -->
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}"/>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/customPagination.js}"></script>

<!-- for fontawesome -->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/fontawesome.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/brands.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}"/> 
<link rel="stylesheet" type="text/css" th:href="@{/css/all.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/tablestyle.css}"/>  


</head>

<body>
	<!-- to include the Navbar from fragments/nav.html -->
	<div  th:replace="fragments/nav :: navbar"></div>

<div class="p-3 m-3">
	   		<form th:action="@{/getRiskAggregator/page/1}" method="get">
	   			<input id="sortField" type="hidden"  name="sortField" th:value="${sortField}">
				<input id="sortDir" type="hidden" name="sortDir" th:value="${sortDir}">
	   			Filter : <input type="text" id="keyword" name="keyword" th:value="${keyword}"  />
	   			&nbsp;
	   			<label for="records">records</label>								
				<select name="records" id="records">
    				<option th:each="i : ${#numbers.sequence(5, 50,5)}" th:value="${i}" th:text="${i}" 
      				th:selected="${i== records}"></option>
				</select>
				&nbsp;
	   			<input type="submit" value="Search">
	   			&nbsp;
	   			<input type="button" value="Clear" onclick="clearFilter()">
	   		</form>
 <div class="m-3">
 <div class="row">
 <div class="col-lg-12 mx-auto bg-white rounded shadow">
	<div class="table-responsive">
   <table class ="table table-fixed table-hover table-sm">
			<thead class="table-primary">
				<tr>
					<th>						
						Sr No.
					</th>
					<th>
					<a th:href="@{'/getRiskAggregator/page/' + ${currentPage} + '?sortField=riskAggregatorName&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							RiskAggregator Name</a>
					</th>	
					<th>
					<a th:href="@{'/getRiskAggregator/page/' + ${currentPage} + '?sortField=riskAggregatorContact&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							RiskAggregator Contact</a>
					</th>								
					
					<th>
					<a th:href="@{'/getRiskAggregator/page/' + ${currentPage} + '?sortField=modified_date&sortDir=' + ${reverseSortDir}} +'&records='+ ${records}+'&keyword='+${keyword}">
							modified_date</a>
					</th>
					
					
				</tr>
			</thead>
			<tbody>				
				<tr th:each="riskAggregator, iterationStatus : ${details}">				
					<td th:text="${iterationStatus.count}">			
				<td><a th:text="${riskAggregator.RiskAggregatorName}" th:href="@{'getClientsOFRisKAggregator/' +${riskAggregator.riskAggregatorId}}"> </a> </td> 
				<td th:text="${riskAggregator.RiskAggregatorContact}">			
				<td th:text="${riskAggregator.Modified_date}">
			</tbody>
		</table>
		
		</div>
		</div>
		</div>
		<hr>		
		<div>
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div th:if = "${totalPages > 1}" class = "col-sm-1">
				
					<div class="pagination">
					</div>
						
				</div>
				<input id="linkPrefix" type="hidden" value="/GoMyProject/getRiskAggregator">
				<input id="currentPage" type="hidden" readonly th:value="${currentPage}">
				<input id="totalPage" type="hidden" th:value="${totalPages}">
				<input id="record" type="hidden" th:value="${records}">														
			</div>
		</div>


 </div>
 </div>

</body>


</html>